:root {
  --primary-color: #2b2d42;
  --secondary-color: #E24E1B;
}
.svg-container {
  padding: 30px;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: Arial;
}
h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
}
h2 {
  color: var(--secondary-color);
  font-size: 20px;
}
h3 {
  color: var(--primary-color);
  font-style: italic;
  font-size: 15px;
}
svg text {
  font-family: Arial;
}
div.tooltip {
  color: #edf2f4;
  position: absolute;
  text-align: center;
  width: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: var(--primary-color);
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}
svg g {
  color: var(--primary-color);
}